* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Outfit;
}

:root{
    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);
    --white: hsl(0, 0%, 100%);
    --cyan: hsl(178, 100%, 50%);
    --soft-blue: hsl(215, 51%, 70%);
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}

div.box {
    border: 1px solid black;
    border-radius: 20px;
    height: 600px;
    width: 380px;
    background-color: var(--card-bg-color);
    padding: 20px;
}

img#equi {
    height: 340px;
    width: 340px;
    border-radius: 16px;
} 

img#avatar {
    height: 50px;
    width: 50px;
    display: flex-start;
    border-radius: 50%;
    border: 1px solid white;
}

div#attr {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: var(--white);
    margin-bottom: 20px;
}

h2 {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-weight: 400;
}

p.desc{
    color: var(--soft-blue);
    margin-bottom: 20px;
    font-weight: 400;
}

span#creation {
    color: var(--soft-blue);
    margin-right: 8px;
}

span#author {
    color: var(--white);
}

span#value {
    color: var(--cyan);
}

span#date {
    color: var(--soft-blue);
}

hr.separator {
    width: 100%;
    border: 0;
    border-top: 1px solid var(--soft-blue)
}

footer {
    margin-top: 20px;
    display: flex;
}

