* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Outfit;
}

:root{
    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);
    --white: hsl(0, 0%, 100%);
    --cyan: hsl(178, 100%, 50%);
    --soft-blue: hsl(215, 51%, 70%);
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}

div {
    border: 1px solid black;
    border-radius: 20px;
    height: 300px;
    background-color: var(--card-bg-color);
}

h1 {
    color: var(--white);
}

p {
    color: var(--soft-blue);
}

p#creation {
    color: var(--white);
}

span#value {
    color: var(--cyan);
}

span#date {
    color: var(--soft-blue);
}